nav{
    text-align: center;
}
h1{
    text-align: center;
    color: black;
}
body{
    background-color:#F0F0EC;
}
li{
    font-family:Arial;
    font-size: 14px;
}
header{
    border: solid black;
}
main{
    border:solid black;
}
footer{
    border: solid black;
}
